{
	"bracketSameLine": false,
	"trailingComma": "none",
	"tabWidth": 4,
	"arrowParens": "always",
	"semi": true,
	"singleQuote": true,
	"bracketSpacing": true,
	"printWidth": 100,
	"quoteProps": "as-needed",
	"tabs": false,
	"jsxSingleQuote": true,
	"htmlWhitespaceSensitivity": "css",
	"endOfLine": "auto",
	"embeddedLanguageFormatting": "auto",
	"singleAttributePerLine": true,
	"useTabs": true
}
