* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 100%;
	position: relative;
}

#movable {
	border: 3px double red;
	padding: 5px;
	width: 100px;
	height: 100px;
	background-color: blue;
	z-index: 1000;
}

.containerZone {
	display: flex;
}

.zone {
	min-height: 90px;
	min-width: 90px;
	border: 1px solid green;
}
